.form-group{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.form-group input{
    width: 70%;
}
.caixa{
    padding: 10px;
    border-style: solid;
}
.form-linha{
    display: flex;
    justify-content: space-between;
    gap:20px;
    margin-bottom: 1rem;
}
.container {
    display: flex;     
    height: 100vh;      
}

.imagem-logo {
    width: 50%;        
    height: 100vh;      
    position:relative;
}
.retangulo .logo {
    width: 6rem;  
    height: auto;  
}
.retangulo h1{
    font-size: 70px;
}
.retangulo{
    position: absolute;
    top: 7rem;           
    left: 0rem;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.imagem-logo img {
    width: 100%;        
    height: 100%;       
    object-fit: cover;
    
}

 .conteudo{
    width: 50%;
    margin:0 0 0 2rem;

} 

span{
    display: block;
}